nodered.json
[
    {
        "id": "2c4278276385a944",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/B002/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e6334de0e97f69f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "684a8976b2056795"
            ]
        ]
    },
    {
        "id": "d2cd713765c1b075",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 280,
        "wires": []
    },
    {
        "id": "f6c706781dcee4db",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 B002",
        "group": "7f2394bd17809847",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Co2 B002",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "99999",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 180,
        "wires": []
    },
    {
        "id": "2e4db5d21abee3d8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "f6c706781dcee4db",
                "d2cd713765c1b075",
                "59837989fc50a521"
            ]
        ]
    },
    {
        "id": "401d1f6116076afb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/B105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e6334de0e97f69f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "6559e409c3798ac6"
            ]
        ]
    },
    {
        "id": "cd821261006b0f53",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "8488c5db6547132d",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 B105",
        "group": "7f2394bd17809847",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Co2 B105",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "99999",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 420,
        "wires": []
    },
    {
        "id": "6559e409c3798ac6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 440,
        "wires": [
            [
                "8488c5db6547132d",
                "cd821261006b0f53",
                "676bc9de12822f7e"
            ]
        ]
    },
    {
        "id": "72ea71f02ac1f4ef",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/E105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e6334de0e97f69f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 680,
        "wires": [
            [
                "1432d7143eaca486"
            ]
        ]
    },
    {
        "id": "27f7f38c5a31b0b2",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 760,
        "wires": []
    },
    {
        "id": "1050c5947187c67b",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 E105",
        "group": "7f2394bd17809847",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Co2 E105",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "99999",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 660,
        "wires": []
    },
    {
        "id": "ce3b939c6d8b6c3f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 680,
        "wires": [
            [
                "1050c5947187c67b",
                "27f7f38c5a31b0b2",
                "3fded70d8693880e"
            ]
        ]
    },
    {
        "id": "f873e0b141f552b4",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/E003/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "e6334de0e97f69f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "128ae83cb1041e4d"
            ]
        ]
    },
    {
        "id": "8cc1f739588a0187",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 980,
        "wires": []
    },
    {
        "id": "2e7097546865d705",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 E003",
        "group": "7f2394bd17809847",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Co2 E003",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "99999",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 900,
        "wires": []
    },
    {
        "id": "8c0786bdf8b863cd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "\nmsg.payload = msg.payload[0].co2;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 900,
        "wires": [
            [
                "2e7097546865d705",
                "8cc1f739588a0187",
                "2b13d0ae55a8a4c2"
            ]
        ]
    },
    {
        "id": "2b13d0ae55a8a4c2",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f52217034e9ab66e",
        "name": "",
        "measurement": "co2, Building=E, room=E003",
        "precision": "",
        "retentionPolicy": "",
        "database": "capteurs",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1260,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3fded70d8693880e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f52217034e9ab66e",
        "name": "",
        "measurement": "co2, Building=E, room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "capteurs",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1260,
        "y": 800,
        "wires": []
    },
    {
        "id": "676bc9de12822f7e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f52217034e9ab66e",
        "name": "",
        "measurement": "co2, Building=B, room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "capteurs",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1260,
        "y": 560,
        "wires": []
    },
    {
        "id": "59837989fc50a521",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f52217034e9ab66e",
        "name": "",
        "measurement": "co2,Building=B,room=B002",
        "precision": "",
        "retentionPolicy": "",
        "database": "capteurs",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1260,
        "y": 320,
        "wires": []
    },
    {
        "id": "128ae83cb1041e4d",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 900,
        "wires": [
            [
                "8c0786bdf8b863cd"
            ]
        ]
    },
    {
        "id": "1432d7143eaca486",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 680,
        "wires": [
            [
                "ce3b939c6d8b6c3f"
            ]
        ]
    },
    {
        "id": "94e171f0f1ded961",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "684a8976b2056795",
        "type": "json",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 200,
        "wires": [
            [
                "2e4db5d21abee3d8"
            ]
        ]
    },
    {
        "id": "e6334de0e97f69f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7f2394bd17809847",
        "type": "ui_group",
        "name": "Capteurs CO2",
        "tab": "95a51a21d67801ac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f52217034e9ab66e",
        "type": "influxdb",
        "hostname": "192.168.244.129",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://172.17.0.3:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "95a51a21d67801ac",
        "type": "ui_tab",
        "name": "batimentInfo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]