nodered.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "20f6eaf56e63b197",
        "type": "mqtt-broker",
        "name": "MosquittoRT",
        "broker": "172.17.0.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "015588c327b4dc27",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e60f7f3600f7795",
        "type": "ui_tab",
        "name": "bâtiment RT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8146e5e7d62276cb",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7f2394bd17809847",
        "type": "ui_group",
        "name": "Capteurs CO2",
        "tab": "95a51a21d67801ac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f52217034e9ab66e",
        "type": "influxdb",
        "hostname": "172.17.0.4",
        "port": "8086",
        "protocol": "http",
        "database": "capteurs",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://172.17.0.4:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "e6334de0e97f69f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.iut-blagnac.fr",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "95a51a21d67801ac",
        "type": "ui_tab",
        "name": "batimentInfo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "2c4278276385a944",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/B002/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e6334de0e97f69f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "2e4db5d21abee3d8"
            ]
        ]
    },
    {
        "id": "d2cd713765c1b075",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 240,
        "wires": []
    },
    {
        "id": "f6c706781dcee4db",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 B002",
        "group": "7f2394bd17809847",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Co2 B002",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "99999",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 200,
        "wires": []
    },
    {
        "id": "2e4db5d21abee3d8",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 200,
        "wires": [
            [
                "f6c706781dcee4db",
                "d2cd713765c1b075",
                "59837989fc50a521"
            ]
        ]
    },
    {
        "id": "401d1f6116076afb",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/B105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e6334de0e97f69f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "6559e409c3798ac6"
            ]
        ]
    },
    {
        "id": "cd821261006b0f53",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 480,
        "wires": []
    },
    {
        "id": "8488c5db6547132d",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 B105",
        "group": "7f2394bd17809847",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Co2 B105",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "99999",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 440,
        "wires": []
    },
    {
        "id": "6559e409c3798ac6",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 440,
        "wires": [
            [
                "8488c5db6547132d",
                "cd821261006b0f53",
                "676bc9de12822f7e"
            ]
        ]
    },
    {
        "id": "72ea71f02ac1f4ef",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/E105/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e6334de0e97f69f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 680,
        "wires": [
            [
                "ce3b939c6d8b6c3f"
            ]
        ]
    },
    {
        "id": "27f7f38c5a31b0b2",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 720,
        "wires": []
    },
    {
        "id": "1050c5947187c67b",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 E105",
        "group": "7f2394bd17809847",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Co2 E105",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "99999",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 680,
        "wires": []
    },
    {
        "id": "ce3b939c6d8b6c3f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 680,
        "wires": [
            [
                "1050c5947187c67b",
                "27f7f38c5a31b0b2",
                "3fded70d8693880e"
            ]
        ]
    },
    {
        "id": "f873e0b141f552b4",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "AM107/by-room/E003/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e6334de0e97f69f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 450,
        "y": 900,
        "wires": [
            [
                "8c0786bdf8b863cd"
            ]
        ]
    },
    {
        "id": "8cc1f739588a0187",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "co2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 940,
        "wires": []
    },
    {
        "id": "2e7097546865d705",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "CO2 E003",
        "group": "7f2394bd17809847",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Co2 E003",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "99999",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 900,
        "wires": []
    },
    {
        "id": "8c0786bdf8b863cd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.payload = msg.payload[0].co2;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 900,
        "wires": [
            [
                "2e7097546865d705",
                "8cc1f739588a0187",
                "2b13d0ae55a8a4c2"
            ]
        ]
    },
    {
        "id": "2b13d0ae55a8a4c2",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f52217034e9ab66e",
        "name": "co2",
        "measurement": "co2,building=E,room=E003",
        "precision": "",
        "retentionPolicy": "",
        "database": "sae",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1110,
        "y": 980,
        "wires": []
    },
    {
        "id": "3fded70d8693880e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f52217034e9ab66e",
        "name": "CO2",
        "measurement": "co2,building=E,room=E105",
        "precision": "",
        "retentionPolicy": "",
        "database": "capteurs",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1110,
        "y": 760,
        "wires": []
    },
    {
        "id": "676bc9de12822f7e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f52217034e9ab66e",
        "name": "CO2",
        "measurement": "co2,building=B,room=B105",
        "precision": "",
        "retentionPolicy": "",
        "database": "capteurs",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "59837989fc50a521",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "f52217034e9ab66e",
        "name": "CO2 ",
        "measurement": "co2,building=B,room=B002",
        "precision": "",
        "retentionPolicy": "",
        "database": "capteurs",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1110,
        "y": 280,
        "wires": []
    }
]